@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    min-height: 100vh;
    font-family: 'Rubik Mono One', sans-serif;
    color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcborder {
    border: 3px solid rgb(250, 189, 182);
    border-radius: 10px;
    height: 375px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #F9DCC4, white);
}

.digits-and-operators {
    border: 3px solid transparent;
    border-radius: 10px;
    width: 190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "dis dis dis dis"
    "dis dis dis dis"
    "top1 top2 top3 top4"
    "mid1 mid2 mid3 mid4"
    "bot1 bot2 bot3 bot4"
    "zero no eql low"
    "ac ac ce ce";
    gap: 0.5rem;
    margin-left: -60px;
    padding-top: 3px;
}


.digit,
.clearall,
.clearentry {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid salmon; */
    border-radius: 10px;
    outline-style: outset;
}

.digit {
    /* height: 35px; */
    height: 41px;
    /* width: 50px; */
    width: 56px;
    border-color: transparent;
}



.digit:active,
.clearall:active,
.clearentry:active {
    outline-style: none;
}

.digit:hover,
.clearall:hover,
.clearentry:hover {
    cursor: pointer;
}

.display {
    grid-area: dis;
    border: 3px solid #fee440;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 80px;
    background-color: #fee440;
    color: rgb(83, 83, 83);
}

.clearall {
    grid-area: ac;
    border: 3px solid salmon;
    border-radius: 10px;
    background-color: salmon;
    color: whitesmoke
}

.clearentry {
    background-color: salmon;
    grid-area: ce;
    border: 3px solid salmon;
    color: whitesmoke;
    border-radius: 10px;
}

.one,
.four,
.seven,
.period {
    background: linear-gradient(to right, #03071e, #370617, #6a040f);
    color: #EDC0B9;
}

.two,
.five,
.eight,
.zero {
    background: linear-gradient(to right, #9d0208, #d00000, #dc2f02, #e85d04);
    color: #F6E0DC;
}

.three,
.six,
.nine {
    background: linear-gradient(to right, #f48c06, #faa307, #ffba08);
    color: white;
}

.divide {
    background: linear-gradient(to bottom, #d9ed92, #b5e48c, #99d98c);
    color: white;
}

.multiply {
    background: linear-gradient(to bottom, #99d98c, #76c893, #52b69a);
    color: #EDF9E3;
}

.minus {
    background: linear-gradient(to bottom, #34a0a4, #168aad, #1a759f);
    color: #E4F6D5;
}

.equal,
.plus {
    background: linear-gradient(to bottom, #1a759f, #1e6091, #184e77);
    color: #DAF2C6;
}
