@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    min-height: 100vh;
    font-family: 'Rubik Mono One', sans-serif;
    color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcborder {
    border: 3px solid salmon;
    border-radius: 10px;
    height: 375px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.digits-and-operators {
    border: 3px solid transparent;
    border-radius: 10px;
    width: 190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "dis dis dis dis"
    "dis dis dis dis"
    "top1 top2 top3 top4"
    "mid1 mid2 mid3 mid4"
    "bot1 bot2 bot3 bot4"
    "zero no eql low"
    "ac ac ce ce";
    gap: 0.5rem;
    margin-left: -60px;
}

.digit,
.clearall,
.clearentry {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid salmon;
    border-radius: 10px;
}

.digit {
    height: 35px;
    width: 50px;
}

.digit:active,
.clearall:active,
.clearentry:active {
    background-color: salmon;
    color: white;
}

.digit:hover,
.clearall:hover,
.clearentry:hover {
    cursor: pointer;
}

.display {
    grid-area: dis;
    border: 3px solid salmon;
    border-radius: 10px;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.clearall {
    grid-area: ac;
    border: 3px solid salmon;
    border-radius: 10px;
}

.clearentry {
    grid-area: ce;
    border: 3px solid salmon;
    border-radius: 10px;
}