@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

body {
  height: 100vh;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-size: 4vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: 17vh 30vh 53vh / 1fr;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  /* height: 78.9vh; */
  width: 100%;
}

h1,
h2 {
  font-size: 6vh;
  font-weight: 500;
  /* text-decoration:  */
}

h1 {
  text-align: center;
  margin-bottom: 6vw;
  padding: 0;
  margin: 0;
  place-self: center;
}

h2 {
  max-width: 30vw;
  text-align: center;
  font-size: 2.5vw;
}

.threedots_toggler > * {
  height: 20%;
  width: 20%;
  background-color: black;
}

.nav_header,
.threedots_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threedots_toggler {
  margin-right: 47%;
  /* margin-bottom: 3rem; */
  height: 3vw;
  width: 3vw;
  /* border: 0.2rem solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin-top: -5rem; */
}

.threedots_toggler:hover {
  cursor: pointer;
}

/* .threedots_header {
  flex-direction: row-reverse;
} */

#nav {
  position: relative;
  height: 100%;
  /* display: flex; */
}

.nav_body {
  position: absolute;
  /* box-sizing: border-box; */
  top: 0;
  right: 0;

  color: white;
  background-color: black;
  height: 276.6%;
  padding: 0 1.5rem;
  margin-right: -15.81vw;
  transition: all 0.3s ease-out;
  /* width: 0; */
  /* display: none; */
  width: 48.65vw;
  /* width: 50vw; */
  /* padding: 0; */
  transform-origin: right;
  /* width: 0vw; */
  z-index: 10;
}

.hidden_nav {
  /* display: none; */
  /* left: -1.38vw; */
  /* opacity: 0; */
  transform: scaleX(100%);
  padding: 0;
  overflow: hidden;
  width: 0vw;
  /* width: 0;1 */
}

.nav_body > * {
  font-size: 5rem;
}

.nav_close {
  /* margin-left: auto; */
  cursor: pointer;
}

.threedots_menu {
  width: 25vw;
  /* min-width: 189px; */
  height: 19vw;
  /* min-height: 147px; */
  box-sizing: border-box;
  padding: 8vh 0 8vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 1vh 0 0 1vw;
  font-size: 3vh;
  background: no-repeat center/120%
    url("./—Pngtree—light\ pixel\ art\ text\ box_6254519.png");
  /* border: 1px dashed black; */
  transform: rotate(180deg);
  z-index: 10;
}

.threedots_menu > * {
  position: relative;
  transform: rotate(180deg);
  margin-right: 3vw;
}

.threedots_menu > *:hover {
  color: pink;
  cursor: pointer;
}

.hidden_threedots,
.hidden {
  display: none;
}

/* .threedots_arrow {
  height: 50px;
  width: 56px;
  position: relative;
  bottom: 37%;
  align-self: center;
  background-image: url("./reshot-icon-arrow-chevron-up-9ECRMJ2GNT.svg");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center bottom 100%;
  border: 0.4rem solid transparent;
  border-bottom-color: pink;
  border-bottom-width: 0.5rem;
} */

#title {
  text-align: center;
  font-size: 4vw;
}

#threedots {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#nav_open {
  text-align: center;
  /* margin: 0.5rem 0 0 5rem; */
  padding: 0;
  font-size: 1.4rem;
  width: 5rem;
  height: 1.9rem;
  /* border: 0.1rem; */
  box-shadow: -0.25rem 0 0 0 black, 0.25rem 0 0 0 black, 0 -0.25rem 0 0 black,
    0 0.25rem 0 0 black;
  background-color: white;
  /* z-index: 10; */
}

#nav_open:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.carousel {
  background-color: peachpuff;
  position: relative;
  /* width: 100%; */
  /* height: 100%; */
  overflow: hidden;
  /* box-sizing: border-box; */
}

.carousel_moving {
  display: flex;
  height: 100%;
  width: 300vw;
  /* transform: translateX(0); */
  transition: transform 1s ease-in-out;
  z-index: 1;
}

/* .move {
  transform: translateX(-100vw);
} */

/* .с {
  transform: translateX(-100vw);
} */

.pic {
  width: 100vw;
  height: 100%;
  transition: transform 1s ease-in-out;
  display: flex;
  justify-content: center;
}

.cake,
.female,
.store {
  /* background: cover no-repeat url("./tv-8760950_1280.png"); */
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;

  /* z-index: 10; */
}

.female {
  background-image: url("./female-7309755_1280.png");
  background-size: 100%;
  background-position: center;
}

.store {
  background-image: url("./store-7274767_1280.png");
  background-size: 110%;
}

.cake {
  background-image: url("./cake-9126298_1280.png");
}

.pic_checkboxes {
  width: 15vw;
  height: 5vw;
  /* border: 4px solid red; */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.pic_check {
  border: 10px solid white;
  background-color: white;
  height: 3vh;
  width: 3vh;
  border-radius: 2rem;
  /* z-index: 1; */
}

.pic_check:hover {
  cursor: pointer;
}
