
@font-face {
    font-family: League Spartan;
    src: url('../fonts/league-spartan/LeagueSpartan-Bold.otf');
}

@font-face {
    font-family: 'Quicksand Regular';
    src: url('../fonts/quicksand/Quicksand-Regular.otf');
}

@font-face {
    font-family: 'Quicksand Italic';
    src: url('../fonts/quicksand/Quicksand-Italic.otf');
}

@font-face {
    font-family: Lack;
    src: url('../fonts/lack/lack-regular.otf');
}

html {
    font-size: 2vh;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: 1200px;
}

#wallpaper_and_title {
    background-image: url('../design/noam-cohen-STiLtEKYKdY-unsplash.jpg');
    background-size: 100vh;
    height: 100vh;
    width: 59.5%;
    position: relative;
    display: flex;
    justify-content: center;
}

h1 {
    display: block;
    padding-left: 1vw;
    text-transform: uppercase;
    font-family: 'League Spartan';
    

}

form {
    display: flex;
    align-items: center;
}

label {
    text-transform: uppercase;
    font-family: League Spartan;
    font-size: 0.5rem;
    letter-spacing: 0.08rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    /* border: 1px solid salmon; */

}

input {
    height: 2.6vh;
    width: 18.1vw;
    border-radius: 0.4vh;
    border: 1px solid #cacfce;
    margin: 0.12rem 0 0 0;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;
}

input:focus {
    border: 2px solid #829B96;
    box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.21);
}



footer {
    position: absolute;
    bottom: 0;
    align-self: center;
    color: white;
    font-family: 'Quicksand Regular';
    letter-spacing: -0.007rem;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: hsla(0, 0%, 0%, 0.5);  
    align-self: center; 
}

footer p {
    padding: 0 20px;
}

legend {
    font-family: Lack;
    padding-left: 0;
    margin-bottom: 1.5vh;
}

span {
    font-family: Lack;
    font-style: italic;
}

#names,
#contacts,
#password_setting {
    display: flex;
    /* border: 1px solid salmon; */
    width: 41.3vw;
    justify-content: space-between;
}

#title_area {
    box-sizing: border-box;
    padding: 1vh 0;
    display: flex;
    justify-content: center;
    /* border: 2px solid salmon; */
    height: 14.3vh;
    width: 100%;
    position: absolute;
    top: 21.5vh;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.4);
    
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lead {
    font-family: Lack;
    box-shadow: 0px -1px 5px -4px rgba(0,0,0,0.54) inset;
-webkit-box-shadow: 0px -1px 5px -4px rgba(0,0,0,0.54) inset;
-moz-box-shadow: 0px -1px 5px -4px rgba(0,0,0,0.54) inset;
}

#lead,
#bottom {
    
    /* font-weight: 300; */
    margin: 0;
    padding: 0;
    background-color: #F8F6F2;
    height: 36vh;
    width: 100%;
    letter-spacing: -0.02rem;
    word-spacing: 0.07rem;
    font-size: 0.9rem;
    box-sizing: border-box;
}

#lead__about,
#lead__calling {
    display: block;
    font-size: 1.1rem;
    width: 700px;
}


fieldset,
#lead__about,
#lead__calling,
#create_account,
#bottom p {
    margin:0 0 0 3.5vw;
    
}

fieldset {
    border: 1px solid transparent;
    padding-left: 0;
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 23vh;
    /* width: 10vw; */
}

#lead__calling {
    margin-top: 2.5vh;
}

#lead__about {
    margin-top: 16.6vh;
}


#bottom {
    height: 34.8vh;
    font-family: 'Quicksand Regular';
    box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.54) inset;
-webkit-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.54) inset;
-moz-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.54) inset;  
}

#bottom a:hover {
    color: black;
}

a,
label {
    color: #829B96;
}

#create_account {
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    font-family: League Spartan;
    background-color: #829B96;
    border: 1px solid transparent;
    height: 4.9vh;
    width: 16.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin:3.5vh 0 3.5vh 3.5vw;
    box-sizing: border-box;
    padding-top: 2px;
    box-shadow: 0px 7px 11px 2px rgba(0,0,0,0.21);
-webkit-box-shadow: 0px 7px 11px 2px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 7px 11px 2px rgba(0,0,0,0.21);
}

#create_account:hover {
    cursor: pointer;
}

#create_account:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#login_link, 
#attribution a {
    text-decoration: none;
    font-family: League Spartan;
    letter-spacing: 0.03rem;
    padding-left: 0.3rem;
}

#attribution a:hover {
    cursor: pointer;
    color: white;
}