html {
    background-color: peachpuff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: red;
    font-size: 60px;
}

ol {
    text-align: right;
    list-style-type: lower-greek;
}

ul {
    text-align: center;
    color: purple;
    font-size: 40px;
    list-style-type: none;
}

p {
    font-style: italic;
    color: aquamarine;
}

a {
    text-decoration: none;
    color: brown;
}

