body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: monospace;
    font-weight: 900;

    
}

#header {
    border: 3px solid lightskyblue;
    margin-bottom: 3vh;
    height: 100px;
    width: calc(70vh + 30px);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 3px;
    
}

form {
    place-self: center;
    inset: 1;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-template-areas: 'player playername btn'
                         'computer compname btn';
}


#my_label {
    grid-area: player;
}

#my_name {
    grid-area: playername;
}

label {
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    /* padding-right: -15px; */
    place-self: center;
    margin: 0.1% 0 0 2%;
    color: lightskyblue;
}

input {
    /* margin-left: 5px; */
    border-color: lightskyblue;
    margin-top: 2px;
}

#my_name,
#computer_name {
    place-self: center;
    padding-top: 5%;
    /* border: 1px solid salmon; */
    width: 100%;
    height: 20px;
    position: relative;
    left: 20px;
    top: 5px;
    
    
}

#gameboard {
    min-height: 350px;
    min-width: 350px;
    height: 70vh;
    width: 70vh;
    border: 3px solid lightskyblue;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
}

#gameboard > * {
    border: 1px solid lightskyblue;
    border-radius: 20px;
    appearance: none;
    background-color: white;
}

#gameboard > *:active {
    background-color: lightskyblue; 
}

#play {
    grid-area: btn;
    font-family: inherit;
    font-weight: inherit;
    background-color: lightskyblue;
    color: white;
    border-color: transparent;
    height: 30px;
    width: 50%;
    place-self: center;
    margin-top: 5%;
    /* box-sizing: border-box; */
}

#play:active {
    color: lightskyblue;
    border-color: lightskyblue;
    background-color: white;
}

#result_notif {
    font-size: 10vh;
    text-align: center;
    width: 50vh;
    border: 5px solid lightskyblue;
    color: rgb(9, 190, 139);
    border-radius: 20px;
    position: absolute;
    background-color: white;;

}

.nodisplay {
    display: none;
}

#my_name_for_game,
#computer_name_for_game {
    /* border: 1px solid red; */
    display: block;
    width: 70%;
    /* margin-top: -2%; */
    position: relative;
    top: -5px;
    color: lightskyblue;
}

#my_score,
#computer_score {
   display: none;
   box-sizing: border-box;
   margin-left: auto;
   height: 32px;
   width: 32px;
   position: absolute;
   border-radius: 12px;
   right: 0;
   bottom: 0;
   background-color: lightskyblue;
   color: white;
   text-align: center;
   padding-top: 7px;

}

.player_choose {
    background: center/90% url(./images/x-10327.svg) no-repeat;
    fill: rgb(135, 206, 250);
    
}