@font-face {
    font-family: 'Alex Brush Regular';
    src: url(../fonts/alex-brush/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: 'Comfortaa Regular';
    src: url(../fonts/Comfortaa/Comfortaa_Regular.ttf);
}

@font-face {
    font-family: 'Courier Prime Sans';
    src: url(../fonts/courier-prime-sans/Courier\ Prime\ Sans.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead {
    display: flex;
    flex-direction: row;
    align-items: center;

} 

h1 {
    font-family: 'Alex Brush Regular';
    padding: 0;
    margin: 0;
    display: block;
}

label, p {
    font-family: 'Comfortaa Regular';

    
}

label { 
    font-weight: 700;
    max-width: 30vw;
    
}

input {
    border: 2px solid black;
    border-radius: 2vh;
    margin-left: 0.5vw;
    min-width: 1vw;
}

p {
    
    padding: 0;
    margin-left: 3vw;
    display: block;
}

#create_book {
    box-sizing: border-box;
    margin-bottom: 2vh;
    /* border: 2px solid salmon; */
    min-width: 464px;
    width: 40vw;
    height: 10vh;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    grid-template-areas: 'tl tl tl tl tl tl' 
                         'at at at at at at' 
                         'pg pg rd rd rd rd'; 
    
    justify-items: center;
}



#title_item {
    /* grid-area: tl; */
    grid-area: tl;
    /* justify-self: center; */

}



#author_item {
    grid-area: at;
    /* justify-self: center; */
}


#pages_item {
    grid-area: pg;
}


#read_item {
    grid-area: rd;
}

#pages {
    width: 5vw;
}

#read {
    width: 12vw;
}

#title,
#author {
    width: 33vw
}











/* #read_label {
    
} */

#library {
    box-sizing: border-box;
    padding: 1vw;
    border: 4px solid black;
    width: 90vw;
    height: 73vh;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(5, 1fr);
    gap: 1vw;
}

#library > div {
    border:  3px solid black;
}