
@font-face {
font-family: 'Catamaran Thin';
src: url(../fonts/Catamaran-Thin.ttf);
}

@font-face {
    font-family: 'Catamaran Semibold';
    src: url(../fonts/Catamaran-SemiBold.ttf);
}

@font-face {
    font-family: 'Catamaran Regular';
    src: url(../fonts/Catamaran-Regular.ttf);
}

@font-face {
    font-family: 'Catamaran Medium';
    src: url(../fonts/Catamaran-Medium.ttf);
}

@font-face {
    font-family: 'Catamaran Light';
    src: url(../fonts/Catamaran-Light.ttf);
}

@font-face {
    font-family: 'Catamaran Bold';
    src: url(../fonts/Catamaran-Bold.ttf);
}

html {
    font-size: 1vh;
    
}

body {
    /* height: 2048px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 17.5% 82.5% / 21.5% 78.5%;

}

#sidebar,
#header,
.main-content__my_projects h2,
.main-content__announcements h3
 {
    font-family: 'Catamaran Semibold';
}

#sidebar {
    color: white;
}

#sidebar__header {
    font-family: 'Catamaran Bold';
    font-size: 2.85rem;
    margin-left: 1.9vw;
}

.sidebar__main_options,
.sidebar__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.2rem;
    position: relative;
    padding-left: 6.2rem;
    margin-left: 1vw;
    list-style-type: none;
    /* border: 1px solid #ffffff; */
}

.sidebar__main_options {
    margin-top: 4.5vh;
    height: 27.7vh;
}

.sidebar__about {
    margin-top: 6.2vh;
    height: 13.3vh;
}

.sidebar__main_options li::before,
.sidebar__about li::before {
    /* content: ''; */
    display: block;
    position: absolute;
    left: 1vw;
    margin-top: 0.3rem;
    box-sizing: border-box;
    height: 2.5rem;
    width: 2.5rem;
    
}

.sidebar__main_options li:hover,
.sidebar__about li:hover,
#sidebar__header:hover,
.header__options > div:hover,
.header__search > button:hover {
    cursor: pointer;
    /* color: #FFDDD2; */

    

}

.sidebar__main_options li::before:hover,
.sidebar__about li::before:hover {
    cursor: pointer;
    /* fill: #FFDDD2; */
    /* color: #FFDDD2; */


}

.sidebar__home::before {
    /* background: no-repeat url('../images/house.svg'); */
    content: url(../images/house.svg);
    /* color: white; */

}

.sidebar__profile::before {
    /* background: no-repeat url('../images/id-card.svg'); */
    content: url(../images/id-card.svg);
    /* color: white; */
    

}

.sidebar__messages::before {
    content: url(../images/message.svg);
    /* color: white; */

}

.sidebar__history::before {
    content: url(../images/clock.svg);
    /* color: white; */
}

.sidebar__tasks::before {
    content: url(../images/files.svg);
    /* color: white; */

}

.sidebar__communities::before {
    content: url(../images/commumities.svg);
    /* color: white; */
}

.sidebar__settings::before {
    content: url(../images/gear.svg);
    /* color: white; */

}

.sidebar__support::before {
    content: url(../images/question.svg);
    /* color: white; */

}

.sidebar__privacy::before {
    content: url(../images/shield.svg);
    /* color: white; */

}

/* #sidebar,
#header,
#main-content {
    
} */

#sidebar {
    background-color: #006D77;
    grid-row: 1 / 3;
    
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    background-color: white;
    grid-template: 3fr 4fr / 5fr 3fr;
    padding: 0.5vh 0;
}

/* #header > div {
    border: 1px solid black;
} */

.header__search {
    appearance: none;
    /* border: 2px solid salmon; */
}

#main-content {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
    padding: 6.9vh 2.4vw 6.9vh 1.5vw;
    background-color: #FFDDD2;
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr 1fr 25.5%;
    gap: 2.9rem 1.58vw;
    grid-template-areas: 'i1 i2 ann'
                         'i1 i2 ann'
                         'i4 i5 ann'
                         'i4 i5 tr'
                         'i7 i8 tr'
                         'i7 i8 tr';
}

.item1 {
    grid-area: i1;
    position: relative;
}



.item2 {
    grid-area: i2;
}

.item3 {
    grid-area: ann;
    margin-bottom: 1.5vh;
    position: relative;
}

.item4 {
    grid-area: i4;
}

.item5 {
    grid-area: i5;
}

.item6 {
    grid-area: tr;
    margin-top: 2.6vh;
    position: relative;
}

.item7 {
    grid-area: i7;
}

.item8 {
    grid-area: i8;
}

.project_item {
    border-left: 0.9rem solid #006D77;
    font-family: 'Catamaran Regular';
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 1.5vh;
}

.project_item > h2 {
    font-family: 'Catamaran Semibold';
    font-size: 1.8rem;
    margin-bottom: -0.3rem;
}

.project_item > p {
    color: rgb(126, 124, 124);
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-top: 0;
}

.announcement_item {
    padding: 2.2vw
}

.announcement_item > div {
    margin: 0;
    padding: 0;
}


.announcement_item p {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.announcement_item h3 {
    font-size: 1.4rem;
    margin: 0 0 -0.1rem 0;
}

.announcement_item div:nth-child(3) h3,
.announcement_item div:nth-child(5) h3{
    margin-top: 1.4rem;
}

.announcement_item p {
    font-family: 'Catamaran Regular';
    color: rgb(126, 124, 124);
    font-size: 1.3rem;
    margin-top: 0;
    line-height: 1.4rem;
}

#main-content > div {
    background-color: white;
    border-radius: 0.9rem;
}

.share_options {
    /* border: 1px dotted black; */
    width: 9.1vw;
    height: 3vh;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 2vh;
    right: 1.8vw;
}

.share_options > div {
    /* border: 1px solid red; */
    height: 3rem;
    width: 3rem;
}

.share_options > div:nth-child(1) {
    background: no-repeat center/80% url(../images/star_add.svg);
    /* background-color: black; */
}

.share_options > div:nth-child(2) {
    background: no-repeat center/80% url(../images/add-eye.svg);
    /* background-color: black; */
}

.share_options > div:nth-child(3) {
    background: no-repeat center/80% url(../images/fork.svg);
    /* background-color: black; */
}

.item1::before,
.item3::before,
.item6::before {
    content: 'My Projects';
    position: absolute;
    top: -3.9vh;
    font-family: 'Catamaran Semibold';
    font-size: 2rem;
}

.item3::before {
    content: 'Announcements';
}

.item6::before {
    content: 'Trending';
}

.header__options,
.header__account_settings,
.header__search {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header__options {
    padding: 0.5vh 4.4vw 0 0.1vw;
    justify-content: space-between;
}

.header__account_settings {
    justify-content: center;
    margin-right: 2vw;
}

.header__search {
    justify-content: center;
}

.header__options > div {
    height: 3.9vh;
    width: 7.15vw;
    background-color: #006D77;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4vw;
    font-family: 'Catamaran Semibold';
    color: white;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding-top: 0.25vh;
}

.header__account_settings > div {
    margin: 0 1vw; 
}

.header__options > div:hover {
    background-color: #FFDDD2;
}

.notify {
    /* border: 1px solid black; */
    height: 2.4rem;
    width: 2.4rem;
    background: no-repeat url(../images/bell.svg);
    
}

.pic {
    height: 4.5rem;
    width: 4.5rem;
    /* border: 1px solid black; */
    border-radius: 100%;
    background: no-repeat top/150% url(../images/mouse.jpeg) ;
}

.name {
    font-family: 'Catamaran Bold';
    font-size: 1.7rem;
}

.header__search > button {
    appearance: none;
    border: 1px solid transparent;
    height: 3rem;
    width: 3rem;
    margin-right: 1vw;
    background: no-repeat center/70% url(../images/search.svg);
}

#search {
    /* appearance: none; */
    box-sizing: border-box;
    font-size: inherit;
    border: 1px solid transparent;
    border-radius: 10vw;
    background-color: #FFDDD2;
    height: 3vh;
    width: 42vw;
    padding: 0 1vw;
    outline: none;
}

#search::-webkit-search-cancel-button {
    appearance: none;
}


.header__about_user {
    display: flex;
    font-family: 'Catamaran Bold';
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 2.8rem;
    align-items: center;
}

.current_account {
    font-size: 2.5rem;
}

.about_user__pic {
    /* border: 1px solid salmon; */
    height: 6.8rem;
    width: 6.8rem;
    border-radius: 100%;
    background: no-repeat top/150% url(../images/mouse.jpeg);
    margin:0 1.7vw 0 2.5vw;
}
